body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

nav{
    height:130px;
    background: #fff;

}
nav ul{
    list-style-type: none;
    padding-right:18%;
    overflow: hidden;
    margin-top:-50px;

}
 h1{
    padding-top:1%;
    padding-left: 18%;
    font-weight:bolder;
    color: #0096FF;
    font-size:35px;
}
nav ul li{
    float:right;
    margin: 10px 0;
    line-height:2em;
}

nav ul li a{
    text-decoration:none;
    color: #080808;
    font-weight: bolder;
    padding:10px 10px;

}
nav li a:hover{
    background:#080808;
    color:#fff;

}
.skewbox{

   position: absolute;
   margin-top:20%;
   left:50%;
   transform: translate(-50%, -50%);
   height: 500px;
   top:12%;
   width: 1000px;
   background-color:#fff;
   box-shadow: 0 10px 30px rgba(0,0,0,0.5);
   display:flex;
   flex-direction: row;
   border-radius:5px;
   border:none;
}
.container{
    width:calc(50% - 50px);
    height:auto;
    background-color:#fff;
    padding:2% 5%;
    line-height: 1.5em;
    font-size: 18px;
    text-align: justify;
}
.imgbox{
    width:calc(50% + 50px);
    height:auto;
    background-color:#0096FF;
    border-left: 100px solid white;
    border-bottom: 500px solid transparent;
}
.imgbox img{
   margin:10px 5px 0 0;
   border:none;
   border-radius:4px;

}
.container p{
    padding-top:30%;
}
 .heading{
    font-weight:bolder;
    font-size:x-large;
}
.quiz-btn{
    margin-top:6%;
    padding: 10px;
    color:#fff;
    background:#080808;
    border:none;
    outline:none;
    font-weight: bold;
    border-radius:5px;
}
.quiz-btn:hover{
    background:#080808;
    color: #fff;
    font-weight: bold;
    border:3px solid #080808;
    cursor:pointer;
}
.free{
    font-size:large;

    padding:5px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    border:none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-signup-content,
  .modal-login-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    margin-right:10px;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header {
    padding:20px 0;
    background:#0096FF;
    width: 100%;
    text-align: center;
    color: #fff;
    border:none;
    border-radius:0 0 5px 5px;
  }

  .modal-body {
      margin-top: 20px;
      width: 100%;
      display:flex;
      flex-direction: column;
      padding:0 10px ;
      border:none;
      border-radius:0 0 5px;
    }


  .modal-body .user-details{
      padding:10px;
  }
  .modal-body input[type="text"],
  input[type="submit"], input[type="password"]{
      padding:15px;
      width:80%;
      font-size: 14px;
      border:1px solid #36454F;
      border-radius: 5px;
  }
  .modal-body .user-details input[type="submit"]{
      background-color:#0096FF;
      color:#fff;
      border:none;
      width:90%;
      font-weight: bolder;
      cursor:pointer;
  }
  .user-details input[type="submit"]:hover{
    background:#36454F;

  }
  @media only screen and (max-width: 600px) {
    nav h1{
      text-align: center;
      background-color: #0096FF;
      color:#fff;
      padding-right:24px;
      padding-left:24px;
      padding-bottom: 20px;
    }

    nav{
      background-color: #d3d3d3;
    }
    nav ul{
     margin-top:0;
     background-color: #D3D3D3;
     margin-right:5%;
    }
    .skewbox{
      margin-top: 240px;
      flex-direction: column;
      width:100%;
      height:380px;
      background-image:url("//images/online-quiz.jpg")  ;
      background-position: center;

    }
    .container{
      opacity:1;
      width:90%;
      background: transparent;
    }
    .container p,span{
      color:#fff;
    }
    .imgbox{
     display:none;
    }
  }
.container1{
    display:flex;
    flex-wrap:wrap;
    float:left;
    padding-left:18%;
    justify-content: space-evenly;

}
.container1 .create-quiz,
 .responses{
     position:relative;
     width:100px;
     padding:40px;
     background:#fff;
     box-shadow: 0 5px 15px rgba(0,0,0,0.1);
     border-radius:4px;
     overflow:hidden;
     text-align:center;
     align-items:center;
     margin-bottom:3%;
     margin-right: 20px;
}
.responses h3{
    padding:40px 15px 40px 0;
    margin-right:10px;
    font-size: 20px;
    text-transform: uppercase;
}
.create-quiz button{
    width:100%;
    height:100%;
    font-size: 80px;
    color: #393939;
    background-color: transparent;
    border:none;
}
.create-quiz:hover,
.create-quiz button:hover,
.responses:hover,
.responses h3:hover{

    color: #fff;
    background-color:#36454F;
    cursor: pointer;
}