{% extends 'Base.html' %}

{% load static %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/all_question_in_quiz.css' %}">
{% endblock %}
{% block content %}
<div class="myTable">
    <div class="title">
        <h1>QUIZ QUESTIONS</h1>
    </div>
<table >
              <thead >
                <tr >
                  <th scope="col" >QUIZ</th>
                    <th scope="col"  >QUESTION</th>
                  <th scope="col"  >ACTION</th>
                </tr>
              </thead>
            <tbody id="question_list">
{% if questions %}
{% for q in questions %}
                <tr>
                  <td style="text-align: center; "> {{ forloop.counter }}</td>
                    <td > {{ q.question }}</td>
                     <td>
                          <input type="button" onclick="location.href='{% url 'update question' q.id %}'" value="Edit" id="edit">
                          <input type="button" onclick="location.href='{% url 'delete question' q.id %}'" value="Delete" id="delete">
                     </td>
                </tr>

{% endfor %}
{% else %}
    <tr>
   <td colspan="9" style="text-align: center;font-size: large;padding:30px;">
   NO QUESTIONS
   </td>
    </tr>
{% endif %}

{#    <td>#}
{#    <button type="button" onclick="{% url 'add questions' %}">ADD QUESTION</button>#}
{#    </td>#}
            </tbody>



</table>
 {% if add_ques == 1 %}

{#<td><button type="button" onclick="{% url 'add questions' %}">ADD QUESTION</button></td>#}
<button type="button" onclick="location.href='{% url 'add questions' %}'">ADD QUESTION</button>

<button type="button" onclick="location.href='{% url 'home' %}'">HOME</button>
{% else %}

<button type="button" onclick="location.href='{% url 'home' %}'">HOME</button>
{% endif %}

</div>
{#   <div id="modal-question" class="modal">#}
{#            <div class="modal-question-content">#}
{#              <div class="modal-header">#}
{#                <span class="close" id="close">&times;</span>#}
{#                <h2>Sign In</h2>#}
{#              </div>#}
{#              <div class="modal-body">#}
{#                <form method="post">#}
{#              <div  class="user-details"><input name="username" type="text" placeholder="Username" required/></div>#}
{#              <div  class="user-details"> <input name="password" type="password" placeholder="Password" required/></div>#}
{#                    {% csrf_token %}#}
{#              <div  class="user-details"> <input type="submit" id="submit" value="LOGIN"/></div>#}
{#              </form>#}
{#              </div>#}
{#              </div>#}
{#          </div>#}
{% endblock %}
